/*seletor{propriedade:valor}*/
/*NAVEGADOR PODE COLOCAR SELETORES PADRÕES*/

/*seletor universal, pegando todos os elementos possiveis*/
/*uma caixa tem preenchimento(conteudo com altura e largura), bordas e espacaçmentos*/
* {
  /*tirando margin, espaçamento*/
  margin: 0;
  /*não quero o preenchimento*/
  padding: 0;
  /* calculo dessa caixa sempre vai ser apartir da borda */
  box-sizing: content-box;
}

body {
  /*altura, fracionando a tela em 100 pedaçinhos, pega os 100 pedaçinhos e deixa a altura em 100 desses pedaçinhos*/
  height: 100vh;
  color: white;
  background: #EBF2F5;
}

:root {
  /* se mudar o valor aqui, vai mudar todo o tamanho da fonte no arquivo */
  font-size: 62.5%;
}

body,
input,
button,
textarea {
  /* font-weight: 400;
    font-size: 18px;
    line-height: 1;
    font-family: 'Nunito', sans-serif; */
  /* rem = pega faz o calculo pelo :root, tamanhos flexiveis */
  font: 400 1.8rem/1 "Nunito", sans-serif;
}



